.sortNavbar__Container{
    background-color: #12156C !important;
    width: 100%;
}
.sortNavbar__MainContainer{
    background-color: #12156C !important;
    width: 1200px;
}

.sortNavbar__MainContainer p{
    color: #fff;
    font-size: 16px;
}
.sortNavbar__MainContainer .sortNavbar__Text{
    color: #fff;
    font-size: 16px;
}
.dropdown-toggle::after{
    color: #fff;
}
.sortBar__Dorpdown{
    border: solid 1px #fff;
}

.sortBar__Dropdown-Item:hover{
    color: #12156C;    
}
.sortNavbarToggler{
    border-color: #fff;
    background-color: #fff;
}
.sortNavbarToggler:focus{
    border-color: #cf2323;
    background-color: #fff;
    box-shadow: none;
}
.sortNavbar-toggler-icon {    
    background-color: #fff;
    border-radius: 5px;
    border-color: #fff;
}
@media (max-width: 1024px) {
    .sortNavbar__MainContainer{        
        width: 100%;
    }

    .sortNavbar__Container{     
        width: 100%;
    }
    
  }
  