.navbarLogo{
    width: 40%;    
}
.navbar__MainContainer{    
    padding: 0 50px;
    background-color: #fff !important;
    border-bottom: solid 1px #12156C;
    border-radius: 0 0 10px 10px;
    position: fixed;
    z-index: 100;
    width: 100%;
}
@media (max-width: 992px) {    
    .navbar-brand{
        margin: 0;
        width: 80%;
    } 
}
@media (max-width: 576px) {
    .navbar{
        padding: 5px 10px;    
    }          
    .navbar-brand{        
        width: 70%;
    }     
}